@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.text-nunito {
  font-family: 'Nunito', sans-serif !important;
}

.grad-blue {
    background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
}

/* .btn:focus {
    outline: none !important;
    border: 0;
    box-shadow: none;
} */

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none;
}

.btn-sidemenu-toggle {
    color: white;
    font-size: 20px;
    padding-left: 0;
}
.btn-sidemenu-toggle:hover {
    color: unset !important;
}

input:focus-visible {
  outline: none !important;
}

.btn-grad-blue {
    background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
}
.btn-grad-orange {
    background: linear-gradient(140deg, #ffcb07 0%, #ff9407 100%);
}
.btn-grad-green {
    background: linear-gradient(140deg, #00e32d 0%, #009a1f 100%);
}
.btn-grad-red {
    background: linear-gradient(140deg, #ff0000 0%, #c20000 100%);
}
.btn-grad-grey {
    background: linear-gradient(140deg, rgb(199 199 199) 0%, rgb(137 137 137) 100%);
}
.btn-rounded {
    border-radius: 50px;
}

.btn-more {
  font-size: 0.8em;
  color: #11c1f3 !important;
}

.btn-changeAddress {
    border-color: unset;
    font-size: 0.6em;
    min-width: 9em;
    padding: 1em;
}

.btn-buy-shop {
    width: 100%;
    margin-bottom: 6px;
    border-radius: 7px;
}

.text-2-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-orange {
  color: orange;
}

.text-green {
  color: limegreen;
}

.text-blue {
  color: #4ED1FA;
}

.text-topup {
  position: absolute;
  top: 50%;
  left: 2em;
  text-align: center;
  width: 6em;
  line-height: 1.2;
  font-weight: bold;
  transform: translateY(-50%);
  font-family: 'Nunito';
}

/* swiper */
/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 14em;
  object-fit: contain;
}
/* .product-swiper {
  height: 14em;
} */

/* header */
.cart-qty-num {
  position: absolute;
  color: white;
  background-color: red;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 0.6em;
  text-align: center;
  top: -7px;
  right: -11px;
}

.notif-icon {
  position: absolute;
  color: red;
  top: -26px;
  right: -18px;
  font-size: 40px;
}

/* Side Menu */
.sidemenu-avatar-container {
  position: relative;
  background: linear-gradient( 
140deg
, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
  padding: 15px;
  height: 170px;
  margin-bottom: 60px;
  width: 100%;
}
.profile-avatar-container {
  position: relative;
  background: linear-gradient( 
140deg
, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
  padding: 15px;
  height: 100px;
  margin-bottom: 60px;
  width: 100%;
}
.profile-avatar-container h3 {
  margin: 0;
  position: absolute;
  left: 130px;
  font-size: 1em;
  font-family: 'Nunito';
  font-weight: bold;
  color: #11C1F3;
  bottom: -29px;
  z-index: 1;
}

.icon-profile-info {
  width: 50px;
  margin-bottom: 10px;
  max-height: 40px;
}

.sidemenu-avatar-container svg {
    position: absolute;
    z-index: 2;
    bottom: -20px;
    left: 0;
}

.btn-logout {
    position: absolute;
    z-index: 4;
    min-width: 75px;
    border-radius: 30px;
    box-shadow: 1px 1px 0px rgb(0 0 0 / 16%);
    font-size: 12px;
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    min-height: 34px !important;
    /* height: 45px; */
    line-height: 2;
    background: linear-gradient(
140deg
, rgb(139 139 139) 0%, rgb(0 0 0) 100%);
    right: 20px;
    bottom: -30px;
}

.username-info {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.user-quick-info {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
}

.user-quick-info-text p {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.user-quick-info-text h3 {
    color: yellow;
    font-size: 12px;
    margin: 0;
}

.user-quick-info-text {
    margin-left: 5px;
}

.user-quick-info img {
    width: 29px;
}

.ava-pic {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  bottom: -47px;
  box-shadow: 0px 6px 3px rgb(0 0 0 / 20%);
}
.ava-pic img {
  width: inherit;
}

.ava-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  flex: none;
}

.ava-small img {
  width: 100%;
  align-self: center;
}

.logo-header-menu {
    background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
    width: 100%;
    height: 200px;
    position: relative;
  }
  
  .logo-header-menu:after {
    content: ' ';
    background: url(../assets/images/login-logo.png) no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 175px;
    bottom: 18px;
    left: 0;
  }
  .logo-header-menu p {
    font-size: 10px;
    font-family: 'Nunito',sans-serif;
    color: white;
    text-align: left;
    position: absolute;
    right: 14px;
    top: 16px;
    width: 40%;
    line-height: 1.3;
    font-weight: bold;
  }
  .menu-header-wave {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .header-wave {
    position: absolute;
    width: 100%;
    left: 0;
    height: 40px;
    background-size: cover !important;
    bottom: -8px;
    background: url(../assets/images/wave-profile.png) no-repeat;
}

.header-wave-public {
    z-index: 2;
    bottom: -2px;
    height: 54px;
    position: absolute;
    width: 100%;
    left: 0;
    background-size: cover !important;
    background: url(../assets/images/wave-profile.png) no-repeat;
}

  .header-wave-profile {
    position: absolute;
    width: 100%;
    left: 0;
    height: 50px;
    background-size: cover !important;
    bottom: -8px;
    background: url(../assets/images/wave-profile.png) no-repeat;
}
  
  .logo-header-menu h6 {
    font-size: 10px;
    font-family: 'Nunito',sans-serif;
    color: white;
    text-align: left;
    position: absolute;
    right: 14px;
    top: 47px;
    width: 40%;
    line-height: 1.3;
  }

  .login-box-menu {
    background-color: white;
    padding: 0 30px 10px 30px;
    text-align: center;
  }
  
  .login-box-menu p {
    font-size: 10px;
    text-align: center;
    line-height: 1.6;
    margin-top: 5px;
  }

  .list-group-flush img {
    margin-right: 10px;
    width: 17px;
    margin-bottom: 3px;
}

.notif-icon-side {
  position: absolute;
  right: 20px;
  background: red;
  color: white;
  padding: 4px 10px;
  border-radius: 40px;
}

.sidemenu-footer img {
  width: 100% !important;
}

.sidemenu-footer {
  position: relative;
}

.sidemenu-footer p {
  position: absolute;
  bottom: -8px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.search-bar-box-home {
  padding: 10px;
  width: 100%;
  background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
  top: -6px;
  z-index: 1;
  position: relative;
}

.search-field-home input {
  border-radius: 23px;
  border: 0;
  width: 100%;
  padding: 5px 5px 5px 35px;
  font-size: 1em;
  font-family: 'Nunito';
  height: 45px;
}

.search-field-home i {
    position: absolute;
    left: 21px;
    color: #3fbce5;
}

.merchant-available {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 15px;
  font-family: 'Nunito';
  margin-top: -5px;
}

.merchant-nearby h4 {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
}

.merchant-nearby h5 {
  font-size: 0.8em;
  font-weight: bold;
  color: #33cd5f;
  margin-bottom: 2px;
}

.merchant-nearby p {
  font-size: 0.6em;
  color: grey;
  margin: 0;
}

.sub-section-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito';
  align-content: center;
  align-items: center;
  padding: 0 5px;
}

.sub-section-title {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  font-family: 'Nunito';
}

.sub-section {
  padding: 10px;
}

/* SPESIAL */
.banner-spesial-box {
  width: calc(100% / 2);
}

.banner-spesial-box img {
  width: 100%;
}

/* PROMO */
.sub-section-row {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding: 5px 5px;
}
.sub-section-row a {
  text-decoration: none;
}

.box-promo {
  border-radius: 6px;
  overflow: hidden;
  min-width: 9em;
  width: 120px;
  margin-right: 10px;
  box-shadow: 0 0 5px 0px rgb(0 0 0 / 30%);
  background-color: white;
}

.box-promo-img {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  height: 100px;
  display: flex;
}

.box-promo-img img {
  width: auto;
  display: block;
  max-height: 80px;
  margin: auto;
  max-width: 100%;
}

.box-promo-text {
  padding: 5px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  /* height: 100%; */
  background: linear-gradient(140deg, #00e32d 0%, #009a1f 100%);
}

.box-promo-text-discount {
  background-color: #00e32d;
  position: absolute;
  right: 0;
  top: -14px;
  font-size: 10px;
  padding: 0 4px;
  border-top-left-radius: 12px;
  width: 35px;
  text-align: right;
  color: yellow;
  font-weight: bold;
}

.box-promo-text p {
  font-size: 12px;
  font-weight: bold;
  color: white;
  font-family: "Sarabun", sans-serif;
  margin: 0 0 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.box-promo-text h6 {
  font-size: 10px;
  margin: 0;
  color: #e3e3e3;
  text-decoration: line-through;
}

.box-promo-text h4 {
  color: white;
  font-family: "Sarabun", sans-serif;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
}
/* end of PROMO */

/* Topup & Tagihan */
.row-product-promo {
  display: flex;
  overflow-x: scroll;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  /* padding: 5px 5px; */
}

.col-product-promo {
  padding: 4px;
  position: relative;
  height: 115px;
  min-width: 90px;
  width: 33%;
  margin-bottom: 10px;
}

.bill-box-product-promo {
  position: relative;
  background: white;
  padding: 5px;
  border-radius: 8px;
  overflow: hidden;
  min-height: 85px;
  text-align: center;
  height: inherit;
  border: 1px solid rgb(0 0 0 / 5%);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 7%);
}

.belanja-img-promos {
  justify-content: center;
  height: 70px;
  display: flex;
}

.belanja-img-promos img {
  max-height: 60%;
  max-width: 100%;
  align-self: center;
}

.belanja-box-title-promos h2 {
  font-size: 10px;
  font-weight: bold;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 12px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: 0;
  font-family: 'Nunito';}

/* end of Topup & Tagihan */

/* Box Product V2 */
.box-product-v2 {
  border-radius: 6px;
  overflow: hidden;
  min-width: 120px;
  margin-right: 10px;
  box-shadow: 0 0 5px 0px rgb(0 0 0 / 20%);
  position: relative;
  width: 120px;
  background-color: white;
}

.box-product-v2-img {
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-product-v2-img img {
  padding: 10px;
  height: 100px;
  display: flex;
}

.box-product-v2-text p {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 4px 0;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: 'Nunito';
}

.box-product-v2-text {
  margin: 5px;
  background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
  padding: 5px;
  border-radius: 4px;
  min-height: 95px;
}

.box-product-v2-text h6 {
  font-size: 10px;
  margin: 0;
  color: white;
  text-decoration: line-through;
}

.box-product-v2-text h5 {
  font-size: 11px;
  margin-top: 4px;
  margin-bottom: -5px;
  color: #7cd4fc;
}

.box-product-v2-text h4 {
  font-size: 14px;
  margin-bottom: 2px;
  color: white;
  margin-top: 7px;
  font-weight: bold;
}
/* .header-wave-profile {
  position: relative;
  background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
  height: 200px;
} */
.wave-white img {
  position: absolute;
  width: 100%;
  margin-top:132px;
}
.photo-profile img {
  position:absolute;
  margin-top:114px;
  left: 25px;
  height: 105px;
  border-radius: 219px;
  box-shadow: 0px 6px 3px rgb(0 0 0 / 20%);
}
.change-photo {
  background-color: black;
  overflow: hidden;
}
.name-profile {
  position: absolute;
  font-family: 'Nunito';
  color:#11C1F3;
  margin-left: 148px;
  margin-top: 204px;
  position: absolute;
}
.no-handphone h1 {
  position: absolute;
  font-size: 15px;
  margin-left: 26px;
  margin-top: 244px
}
.form-nohandphone {
  position: absolute;
  background: rgb(242 239 239);
  box-shadow: 0px 2px 3px rgb(0 0 0 / 60%);
  height: 40px;
  width: 86%;
  margin-top: 262px;
  margin-left: 19px;
  border-radius: 4px;
  padding: 8px;
  display: -webkit-box;
}
.alamat-lengkap-profile h1 {
  position: absolute;
  font-size: 15px;
  margin-left: 26px;
  margin-top:319px
}
.form-alamat-lengkap {
  position: absolute;
  background: rgb(242 239 239);
  box-shadow:0px 2px 3px rgb(0 0 0 / 60%);
  height: 105px;
  width: 86%;
  margin-top: 345px;
  margin-left: 19px;
  border-radius: 4px;
  padding: 8px;
  display: -webkit-box;
}
.ubah-alamat-profile h1 {
  position: absolute;
  background:linear-gradient(121deg, rgba(105,248,7,1) 0%, rgba(33,156,7,1) 71%);
  margin-top: 465px;
  left: 19px;
  width: 86%;
  border-radius: 90px;
  height: 44px;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 11px;
}
.saldo-superpoin {
  position: relative;
  background: rgb(242 239 239);
  text-align: center;
  height: 225px;
  position: relative;
  margin-top:536px;
}
.saldo-superkiosk img {
  position: absolute;
  margin-top: 20px;
  margin-left:68px;
  height: 35px;
}
.superpoin-user img {
  position: absolute;
  margin-top:20px;
  margin-left:215px;
  height: 35px;
}
.Saldo-superkiosk-text {
  position: absolute;
  font-size: 12px;
  margin-left:39px;
  margin-top:-152px;
  font-family: 'Nunito';
}
.rupiah h1 {
  position: absolute;
  margin-top: -117px;
  margin-left: 68px;
  font-size: 20px;
  color: rgb(4, 220, 4);
}
.topup-profile {
  position: absolute;
  background:linear-gradient(121deg, rgba(105,248,7,1) 0%, rgba(33,156,7,1) 71%);
  border-radius: 90px;
  margin-top: -79px;
  margin-left: 46px;
  width: 90px;
  color:white

}

/* end of Box Product V2 */

/* Kategori Produk */
.cat-box-square {
  background-color: white;
  width: auto;
  height: auto;
  margin: auto;
}

.cat-box-square-col {
  width: 50%;
  float: left;
  border-radius: 10px;
  overflow: hidden;
}

.cat-box-square-item {
  margin: 3px 4px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.cat-box-square-col img {
  width: 100%;
  display: block;
}

.cat-box-title {
  background-color: rgb(0 0 0 / 0.5);
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Nunito", sans-serif;
  bottom: 0;
  padding: 6px 5px 8px 5px;
  line-height: 1;
  font-size: 10px;
}
/* end of Kategori Produk */

/* SHOP */
.search-bar-box {
  padding: 10px;
  position: fixed;
  width: 100%;
  background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
  z-index: 6;
  display: flex;
  justify-content: space-between;
}

.search-field {
    position: relative;
    width: 100%;
    margin-right: 10px;
}

.search-field input {
    border-radius: 40px;
    border: none;
    padding: 6px 6px 6px 35px;
    height: 45px;
    width: 100%;
}

.search-field i {
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    color: #3fbce5;
}

.cat-filter-active {
    top: 121px;
    background-color: white;
    padding: 10px;
    position: sticky;
    z-index: 6;
    width: 100%;
    display: -webkit-box;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
    overflow-x: scroll;
    /* flex-wrap: nowrap; */
}

.cat-filter-item {
    background-color: white;
    border: 1px solid #3db8e3;
    padding: 5px 10px;
    border-radius: 1em;
    width: fit-content;
    color: #3db8e3;
}

.cat-filter-item p {
  margin: 0;
  font-size: 0.8em;
  font-family: 'Nunito', sans-serif;
}

.btn.btn-close-filter {
    padding: 0;
}

.btn.btn-close-filter i {
    color: #3db8e3;
}

.product-list-container {
  padding: 5px;
  margin-top: 67px;
}

.product-box-wrapper {
  float: left;
  width: 50%;
  padding: 5px;
}
.product-box-wrapper a {
  text-decoration: none;
}

.product-box {
  background: white;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 10%);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  font-family: 'Nunito';
}

.belanja-fav-button {
  position: absolute;
  top: 0px;
  right: -3px;
  z-index: 5;
}

.belanja-fav-button i.fav-btn-on {
  color: red;
}
.belanja-fav-button i.fav-btn-off {
  color: lightgrey;
}

.product-box-info {
  width: 100%;
  background-color: white;
  padding: 5px;
  border-radius: 14px;
}

.product-box-info-image {
  width: 100%;
  background-color: #ffffff;
  height: 140px;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 10px;
}
.product-box-info-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  align-self: center;
  margin: auto;
}

.product-box-info p {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-box-info h6 {
  text-decoration: line-through;
  color: red;
  font-size: 10px;
  margin: 0;
}

.product-box-info h4 {
  color: #00D22A;
  font-weight: bold;
  font-size: 16px;
}

.product-box-button {
  padding: 0 5px;
}

.shop-pagination li.active a {
  background-color: unset !important;
  border-color: #e9ecee !important;
  background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
}

.shop-pagination .page-link, .dataTable-pagination a {
  color: #40bfe6;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Nunito';
}


/* end of SHOP */

/* Filter */
.cat-filter-box {
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 0.3em;
  padding: 5px;
  min-height: 2.6em;
  align-items: center;
  display: flex;
  background-color: white;
}

.filter-img {
  width: 25%;
  align-self: center;
  border-radius: 0.3em;
}

p.filter-text {
  font-size: 0.6em;
  line-height: 1;
  align-self: center;
  margin: 0;
}

.filter-radio {
  align-self: center;
}

.promo-only-box {
  padding: 10px;
  font-family: 'Nunito';
  margin: 12px;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 0.3em;
  background-color: white;
}

/* end of Filter */

/* Product Detail */
.detail-product-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Nunito';
  width: 100%;
  background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
}

.detail-product-info-left h4 {
  color: white;
  font-weight: bold;
  margin: 0;
}

.detail-product-info-right p {
  margin: 0;
}
.detail-product-info-left p, h4 {
    margin: 0;
    font-size: 1em;
}

.detail-product-title {
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.product-like {
  display: flex;
  align-self: center;
}

i.btn-icon-on {
  color: red;
}
i.btn-icon-off {
  color: lightgrey;
}

.detail-product-title h3 {
  font-size: 1.1em;
  margin: 0;
}

.detail-product-title > div {
  align-self: center;
}
/* end of Product Detail */

/* Login */
.login-logo-header-menu {
  background: linear-gradient(140deg, rgba(71,202,235,1) 0%, rgba(26,125,202,1) 100%);
  width: 100%;
  height: 200px;
  position: relative;
}

.login-logo-header-menu:after {
  content: ' ';
  background: url(../assets/images/login-logo.png) no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 11em;
  bottom: 0px;
  left: 0;
}
.login-logo-header-menu p {
  font-size: 10px;
  font-family: 'Nunito',sans-serif;
  color: white;
  text-align: left;
  position: absolute;
  right: 14px;
  top: 16px;
  width: 40%;
  line-height: 1.3;
  font-weight: bold;
}

.login-header-wave {
  position: absolute;
  width: 100% !important;
  height: 80px;
  z-index: 2;
  background-color: aliceblue;
  bottom: -25px;
  background: url(../assets/images/wave-profile.png) no-repeat;
  background-size: cover;
}

.icon-left-input {
  color: #11C1F3;
  font-size: 1.2em;
  left: 24px;
  top: 14px;
}
.icon-right-input {
  color: #11C1F3;
  font-size: 1.2em;
  right: 24px;
  top: 14px;
}

.icon-right-form {
  color: #11C1F3;
  font-size: 1.2em;
  right: 10px;
  top: 28px;
}
/* end of Login */

/* OTP */
.input-otp {
  width: 3em;
  border: 1px solid #DAF2FF;
  border-radius: 4px;
  height: 3em;
  padding: 4px;
  text-align: center;
  background-color: #F1FAFF;
  margin: 2px;
}
/* end of OTP */


/* Shopping Cart */
.cart-item-thumb {
  padding: 0.3em;
  border: 1px solid #dee2e6;
  border-radius: 0.4em;
  margin-bottom: 0.4em;
  background-color: white;
  width: 100%;
  height: 100px;
  display: inline-flex;
  justify-content: center;
}
.cart-item-thumb img {
  max-width: 90%;
  max-height: 90%;
  transition: 1s ease-in;
  align-self: center;
}

.add-to-cart {
  animation: add-to-cart 1s;
}

.cart-item-box div:last-child {
  border-bottom: 0 !important;
}
/* end of Shopping Cart */

/* Shopping cart confirm */
.bg-light.p-3 div:last-child {
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
}
/* end of Shopping cart confirm */

/* Order Saya */
.ava-rounded {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.ava-rounded img {
  width: inherit;
}
/* end of Order Saya */

/* transactions detail */
.bg-light.p-2 div:last-child {
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
}
/* end of transactions detail */

/* Pilih Kurir */
.form-check-input:checked {
  background-color: #44c4e8;
  border-color: #44c4e8;
}

.form-check-input:checked + label {
  background-color: aliceblue;
}

.icon-square-sm {
  width: 50px;
  height: 50px;
}

.input-custom-radio {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.radio-custom-info p {
  margin: 0;
}
/* end of Pilih Kurir */

/* topup slider */
.slider-topup-decimal {
  font-weight: bold;
  background-color: #11C1F3;
  padding: 10px 30px 10px 30px;
  color: white;
  border-radius: 30px;
  width: fit-content;
  margin: auto;
}

.custom-range::-webkit-slider-thumb {
  background: #11C1F3;
}

.custom-range::-moz-range-thumb {
  background: #11C1F3;
}

.custom-range::-ms-thumb {
  background: #11C1F3;
}
/* end of topup slider */

.topup-account-info img {
  width: 40px;
  height: 100%;
}

.topup-account-info {
  border: 1px solid #11c1f3;
  background-color: aliceblue;
}

.topup-account-info i {
  color: #11c1f3;
}

/* TRACKING */
.tracking-order {
  font-size: 13px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 13px;
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  color: #444;
  /* overflow: hidden; */
}

.tracking-order body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  letter-spacing: 0.6px;
}

.tracking-order p {
  font-size: 13px;
  margin: 0 0 11px;
}

.tracking-order a {
  color: #fff;
  text-decoration: none;
}

.tracking-order header {
  text-align: center;
  margin-bottom: 4rem;
}
.tracking-order header h1 {
  font-size: 1.8rem;
  line-height: 2.1rem;
}
.tracking-order header p {
  margin-top: 1rem;
}
.tracking-order header .icon {
  color: #F3597D;
}

.tracking-order .progressContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  color: #444;
  background: #ffffff;
  -moz-box-shadow: 0 0 7px rgb(0 0 0 / 30%);
  /* -webkit-box-shadow: 0 0 7px rgb(0 0 0 / 30%); */
  /* box-shadow: 0 0 7px rgb(0 0 0 / 30%); */
}

.tracking-order .progress {
  position: relative;
  padding: 0 1rem 0 3.5rem;
  margin: 2rem 0 0;
  list-style: none;
}

.tracking-order .progress__item {
  position: relative;
  min-height: 75px;
  counter-increment: list;
  /* padding-left: 0.5rem; */
}
.tracking-order .progress__item:before {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 16px;
  height: 80%;
  width: 1px;
  border-left: 2px solid #9e9e9e;
}
.tracking-order .progress__item:after {
  content: counter(list);
  position: absolute;
  top: 1px;
  left: -31px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #9e9e9e;
  color: #fff;
  font-weight: 400;
  font-size: 8px;
  line-height: 1rem;
  text-align: center;
  /* border: 1px solid #fff; */
}
.tracking-order .progress__item:last-child:before {
  border: none;
}
.tracking-order .progress__item.progress__item--completed {
  opacity: 0.6;
  color: #03a9f4;
}
.tracking-order .progress__item.progress__item--completed:after {
  content: "\2713";
  font-weight: 400;
  background: #03a9f4;
  color: #ffffff;
}
.tracking-order .progress__item.progress__item--active:after {
  background: #8bc34a;
  color: #ffffff;
}

.tracking-order .progress__title {
  padding: 0 0 0.1rem;
  margin: 0;
  font-size: 0.5rem;
}

.tracking-order .progress__info {
  font-size: 13px;
}

.tracking-header {
  padding: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px rgb(204 204 204);
  -moz-box-shadow: 0px 3px 6px 0px rgb(204 204 204);
  box-shadow: 0px 3px 6px 0px rgb(204 204 204);
  width: 100%;
  background: white;
}

.order-info tr td {
  padding: 0;
  font-size: 0.8em;
  color: #444;
}

.order-info td:nth-child(2) {
  padding-left: 10px;
}

.map-search iframe {
  width: 100%;
  height: 100vh;
  margin-top: -56px;
}

.set-location {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.get-location {
  bottom: 8em;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 7px rgb(0 0 0 / 30%);
}

.code-box-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.code-box p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.code-box {
  background-color: #fafafa;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.comment-text h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.comment-text p {
  font-size: 0.8em;
}

.comment-text h6 {
  font-size: 0.6em;
  color: grey;
}

.comment-list > div {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dashed rgb(0 0 0 / 20%);
}

.comment-list > div:last-child {
  border: 0;
}


/* MEDIA SCREEN */
@media only screen and (min-width: 600px) {
  .login-logo-header-menu p {
    font-size: 0.8em;
    width: 26%;
  }
  .login-header-wave {
    display: none;
  }
  .banner-spesial-box {
    width: calc(100% / 4);
  }
  
}
@media only screen and (min-width: 768px) {
  .cat-box-square-col {
    width: calc(100% / 6) !important;
  }
  .product-box-wrapper {
    width: calc(100% / 5) !important;
  }
  .search-bar-box {
    position: unset !important;
}
.product-list-container {
  margin-top: 4px;
}
.cat-filter-active {
  position: unset;
}

}

@media screen and (max-width: 425px) and (min-width: 375px) {
  .header-wave-profile {
    bottom: -3px;
  }
}
@media screen and (max-width: 500px) and (min-width: 425px) {
  .header-wave-profile {
    height: 58px;
    bottom: -1px;
  }
}
@media only screen and (min-width: 425px) {
  .cat-box-square-col {
    width: calc(100% / 3);
  }
}
@media screen and (min-width: 500px) {
  .header-wave-profile {
    display: none;
  }
}

/* Animation */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(126, 197, 255);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes add-to-cart {
  from {
    transform: translate(0,0);
    opacity: 1;
  }
  to {
    transform: translate(0,-100px) scale(0.6);
    opacity: 0;
  }
}